<% events.each do |event| %>
  <h4><%= link_to event.title, event_path(event) %> Hosted By: <%= event.creator.name %></h4>
  <% if @current_user == event.creator %>
    <%= link_to "Edit", edit_event_path(event) %>
  <% end %>
<% end %>