<% events.each do |event| %>
  <p><strong><%= link_to event.title, event_path(event) %></strong> - Hosted By: <%= event.creator.name %></p>
  <% if @current_user == event.creator %>
    <%= button_to "Edit", edit_event_path(event), :method => :get %>
  <% end %>
<% end %>